<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290974906532-4g1a43vm9ck5f899khe1rjvn7jper3it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290974906532-4g1a43vm9ck5f899khe1rjvn7jper3it</string>
	<key>API_KEY</key>
	<string>AIzaSyDixbpdqR5ihNHblbwZ73fpbTnrr2BnPXk</string>
	<key>GCM_SENDER_ID</key>
	<string>290974906532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perennial.clara</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-a51b8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-a51b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290974906532:ios:6383b12c40ca415555ce31</string>
</dict>
</plist>